<h1>Add Friend</h1>

<form action="/noritur_friend" method="POST">
  <label for="username">Username</label>
  <input type="text" id="username" name="username" required>

  <label for="location">Location</label>
  <input type="text" id="location" name="location" required>

  <button type="submit">Add Friend</button>
</form>